/*
=============== 
Variables
===============
*/

:root {
  /* blue color */
  --blueColor: #0aa0e3;
  /* basic colors */
  --white: #ffffff;
  --grey: #f8f8f8;
  --black: #181818;
  --red: #ff0000;
  /* properties */
  --transition: all 0.1 linear;
  --spacing: 0.1rem;
  --radius: 0.75rem;
  --shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --max-width: 1170px;
  --min-width: 85vw;
}

/* 
==================
Basic styles
==================
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: var(--grey);
  color: var(--black);
  line-height: 1.5rem;
  font-size: 0.875rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  font-family: 'Josefin Sans', sans-serif;
  color: var(--black);
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  line-height: 1.25rem;
  /* margin-bottom: 0.75rem; */
}

h1 {
  font-size: 2.75rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
  font-weight: 300;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

.section-center {
  width: var(--min-width);
  max-width: var(--max-width);
  margin: 5rem auto;
}

.center {
  min-height: calc(100vh - 10rem);
}

/* 
==================
Basic styles
==================
*/

main {
  height: 100vh;
  display: grid;
  place-items: center;
}

.active {
  background: lightgreen;
}

/* 
==================
Form
==================
*/

form h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.input-wrapper {
  border: 2px solid #bebebe;
  border-radius: 5px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom: none;
}

.input-wrapper input {
  font-size: 1.25rem;
  background: transparent;
  border: none;
  padding: 0.25rem 0.5rem;
}

.input-wrapper input:focus {
  outline: none;
}

.input-wrapper input::placeholder {
  font-style: italic;
  text-transform: capitalize;
}

.input-wrapper button {
  background: #03ac13;
  color: white;
  font-style: italic;
  cursor: pointer;
  font-size: 1.25rem;
  /* background: transparent; */
  border: none;
  border-left: 2px solid #bebebe;
  padding: 0.25rem 0.5rem;
  text-transform: uppercase;
}

.input-wrapper button:hover {
  transition: all 0.15s linear;
  background: white;
  color: #03ac13;
}

/* 
==================
Tasks
==================
*/

.tasks-container {
  /* background: yellow; */
  /* padding: 1rem 0.5rem; */
  border: 2px solid #bebebe;

  border-bottom: none;
  /* border-radius: 5px; */
}

.task {
  /* background: red; */
  padding: 1rem 0.5rem;
  border-bottom: 2px solid #bebebe;
}

.btn-container {
  /* background: red; */
  display: flex;
  justify-content: flex-end;
}

.btn-container button {
  background: transparent;
  border: 1px solid black;
  padding: 0.1rem 0.2rem;
  margin-left: 0.2rem;
}

.btn-container button:nth-child(1) {
  background: #03ac13;
  color: white;
}

.btn-container button:nth-child(1):hover {
  background: white;
  color: #03ac13;
}

.btn-container button:nth-child(2) {
  background: #296b98;
  color: white;
}

.btn-container button:nth-child(3) {
  background: #c90711;
  color: white;
}

.btn-container button:nth-child(3):hover {
  transition: all 0.1s linear;
  background: white;
  color: #f70d1a;
}

.btn-container button:hover {
  cursor: pointer;
  transition: all 0.15s linear;
  background: white;
  color: #296b98;
}

/* 
==================
Filters
==================
*/

.filters-container {
  border: 2px solid #bebebe;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top: none;
  padding: 1rem 0.5rem;
}

.filters-title {
  text-align: center;
  margin: 0.25rem 0;
}

.filters-btns-container {
  /* background: yellow; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.filters-btns-container button {
  background: var(--blueColor);
  color: white;
  border: 1px solid black;
  padding: 0.1rem 0.2rem;
  margin-left: 0.2rem;
  margin-bottom: 0.5rem;
}

.filters-btns-container button:hover {
  cursor: pointer;
  background: white;
  color: var(--blueColor);
}

.clear-btn {
  text-align: center;
}

.clear-btn button {
  background: #c90711;
  color: white;
  border: 1px solid black;
  padding: 0.1rem 0.2rem;
}

.clear-btn button:hover {
  transition: all 0.15s linear;
  cursor: pointer;
  background: white;
  color: red;
}
