/*
=============== 
Variables
===============
*/

:root {
  /* blue color */
  --blueColor: #0aa0e3;
  /* basic colors */
  --white: #ffffff;
  --grey: #f8f8f8;
  --black: #181818;
  --red: #ff0000;
  /* properties */
  --transition: all 0.1 linear;
  --spacing: 0.1rem;
  --radius: 0.75rem;
  --shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --max-width: 1170px;
  --min-width: 85vw;
}

/* 
==================
Basic styles
==================
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: var(--grey);
  color: var(--black);
  line-height: 1.5rem;
  font-size: 0.875rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  font-family: 'Josefin Sans', sans-serif;
  color: var(--black);
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  line-height: 1.25rem;
  /* margin-bottom: 0.75rem; */
}

h1 {
  font-size: 2.75rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
  font-weight: 300;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

.section-center {
  width: var(--min-width);
  max-width: var(--max-width);
  margin: 5rem auto;
}

.center {
  min-height: calc(100vh - 10rem);
}

/* 
==================
Basic styles
==================
*/

main {
  height: 100vh;
  display: grid;
  place-items: center;
}

.active {
  background: lightgreen;
}
